/*=========================================================================================== 
| Style for Forms
===========================================================================================*/

textarea, input, select, span.value
{
  font-size: 13px;
  padding: 2px 5px;
  width: 275px;
  margin: 0;
}

.full_width .full textarea, .full_width .full span.value
{
  width: 727px;
}

select
{
  padding: 1px;
  width: 287px;
}

.select_multi select
{
  width: 250px;
  float: left;
}

span.value
{
  float: left;
  font-size: 15px;
}

span.value a
{
  font-size: 15px;
}


input[type="text"], input[type="password"], select, textarea
{ border:1px solid #8f8f90;
  float: left;
}

input[type="text"]:focus, input[type="password"]:focus,  textarea:focus, select:focus, a.input:focus, a.input:active
{
  border: 1px solid #202020; 
}

label
{
  font-size: 11px;
  text-transform: uppercase;
}

form.full
{
  margin-left: 125px;
}

form div.left_side, form div.right_side
{
/*
  border: 1px solid #00ff00;
*/
  width: 452px;
  float: left;
}

form div.module_box_ltgray {
	width:420px;
	margin: 2px;
	padding:8px;
	background-color:#e6e7e8;
  	-moz-border-radius: 10px;    /* Firefox 3.6-, removed in Firefox 13 */
  	-webkit-border-radius: 10px; /* Safari 4-, Chrome 3- */
  	border-radius: 10px; 
}

form div.module_box_gray {
	width:420px;
	margin:2px;
	padding:8px;
	background-color:#cbdaf0;
  	-moz-border-radius: 10px;    /* Firefox 3.6-, removed in Firefox 13 */
  	-webkit-border-radius: 10px; /* Safari 4-, Chrome 3- */
  	border-radius: 10px; 
}

form div.module_box_dkgray {
	width:420px;
	margin:2px;
	padding:8px;
	background-color:#a6adba;
  	-moz-border-radius: 10px;    /* Firefox 3.6-, removed in Firefox 13 */
  	-webkit-border-radius: 10px; /* Safari 4-, Chrome 3- */
  	border-radius: 10px; 
}

form div.module_box {
	width:420px;
	margin:2px;
	padding:8px;
	background-color:#f1f1f2;
  	-moz-border-radius: 10px;    /* Firefox 3.6-, removed in Firefox 13 */
  	-webkit-border-radius: 10px; /* Safari 4-, Chrome 3- */
  	border-radius: 10px; 
}

label.module_box_red {
	color:#fff;
}

form div.smcol_left{
	float:left;
	width:45%;
}

form div.smcol_right{
	float:left;
	width:50%;
}

form div.lgcol_left{
	float:left;
	width:95%;
}

form div.ruler{
	border-bottom: 1px dotted #fff;
}

form div.form_item, form h1
{
  float: left;
  clear: both;
  display: block;
  width: 427px;
  margin: 4px 0 0 0;
  position: relative;
/*
border: 1px solid #00ffff;
*/
}

form div label 
{
  display: block;
  float: left;
  width: 125px;
  margin: 5px 15px 3px 0;
  text-align: right;
/*
border: 1px solid #00ff00;
*/
}


form div.required label
{
  font-weight: bold;
}


form .full_width div.form_item.full
{
  width: 900px;
}


form h1
{
  padding-left: 25px;
  w\idth: 665px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  clear: both;
}

label.checkbox, label.radio, #login_form label.checkbox
{
  display: block;
  width: 190px;
  padding: 2px 0 1px 20px;
  text-indent: -18px;
  float: none;
  margin: 0px 0px 5px 140px;
  text-align: left;
 /* vertical-align: text-bottom;*/
}

input.checkbox, input.radio, #login_form input.checkbox
{
  display: inline;
  height: 13px;
  width: 13px;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  vertical-align: top;
  margin-right: 5px;
  position: relative;
  top: 2px;
  overflow: hidden;
}

form div button
{
  float: right;
  width: 100px;
}

form div small, form div p/*, form div h3*/
{
  display: block;
  margin: 0 0 5px 140px;
  padding: 1px 3px;
}

form div small
{
  font-size: 11px;
}

form h3
{
  margin: 3px 15px;
  clear: both;
  padding-top: 10px;
}

form h4
{
  text-align: right;
  width: 240px;
  clear: both;
}

form div a.form_remove_link
{
  font-size: 11px;
  margin-left: 25px;
}

form div a.form_add_link
{
  font-size: 11px;
  display: block;
  margin: 2px 0 10px 265px;
}

form .select_multi div
{
  float: left;
  clear: none;
  width: 100px;
}

form .hr
{
  margin: 3px 100px;
  width: 700px;
  border: 1px solid #c0c0c0;
  border-width: 1px 0 0 0;
}

form .forgot_password
{
  margin-left: 20px;
  padding-top: 5px;
}

/*------------------------------------*/

form div.int_search
{
  width: 300px;
}

/*------------------------------------*/

form div.date
{
  width: 300px;
}

form div.date .cal_popup_container
{
  float: left;
  margin-left: 10px;
  margin-top: 3px;
  height: 16px;
}

form div.date input, form div.date span.value
{
  float: left;
  width: 120px;
}


form div.date .error_div
{
  right: 28px;
}


form div.buttons
{
  clear: both;
  width: 860px;
  padding-top: 15px;
}

form div.buttons a
{
  float: right;
  margin: 0 0 0 50px;
}



/*------------------------------------*/
/* error stuff */

.error input, .error select
{
  border: 1px solid #009933;
}

.error label
{
  color: #009933;
}

.error_div
{
  position: absolute;
  right: 0;
  width: 24px;
  height: 20px;

  z-index: 24;
  background: url(../img/icons/error.png) no-repeat 5px 4px;

  display: none;
}

.error .error_div, .warning .error_div
{
  display: block;
}


.warning .error_div
{

  background: url(../img/icons/warning.png) no-repeat 3px 3px;
}

.error_div .popup
{
  border: 1px solid #c0c0c0;
  background: #ffffe0;
  position: absolute;
  left: 26px;

  font-size: 12px;
  padding: 3px 5px;
  width: 150px;
  z-index: 25;

  display: none;
}


/*----------------------------*/
/* custom select stuff */
.custom_select
{
  position: relative;
  cursor: default;
  float: left;

}

.custom_select .input
{
  cursor: default;
  display: block;
  border:1px solid #8f8f90;
  background: #ffffff url(../img/layout/select-arrow_off.png) no-repeat right top;
  padding: 2px 20px 2px 5px;
  width: 270px;
  w\idth: 260px;
  margin: 0;
}
.custom_select .input a:hover
{
  text-decoration: none;
  background: #ffffff url(../img/layout/select-arrow_on.png) no-repeat right top;
}

.custom_select .input .inner
{
  overflow: hidden;
}

.custom_select .input a
{
  font-size: 13px;
  display: block;
  color: #000000;
  text-decoration: none;
  width: 1000px;
}

.custom_select input
{
  display: none;
}


.custom_select .select
{
  position: absolute;
  top: 21px;
  z-index: 22;
  border: 1px solid #8f8f90;
  background: #ffffff;
  width: 285px;
  display: none;
}

.custom_select .select.scroll
{
  height: 240px;
  overflow: auto;
}

.custom_select .option
{
  padding: 2px 5px 2px 18px;
  font-size: 13px;
  background: #ffffff url(../img/icons/checkbox.png) no-repeat 0 50%;
  color: #000000;
  overflow: hidden;
}
.custom_select .option span
{
  width: 1000px;
  display: block;
}

.custom_select .option.selected
{
/*  background: #ffffb0 url(../img/icons/bullet_delete.png) no-repeat 0 50%; */
  background: #ffffff url(../img/icons/checkbox_checked.png) no-repeat 0 50%;
  color: #000000;
}

.custom_select .option.override
{
  background: #ffffff url(../img/icons/checkbox_checked_disabled.png) no-repeat 0 50%;
  color: #000000;
}


.custom_select .option:hover
{
  /*background: #ffffb0;*/
  background-color: #3399ff;
  color: #ffffff;
}

/*----------------------------*/
/* custom select stuff */
.custom_select_popup
{
  position: relative;
  cursor: default;
  float: left;

}

.custom_select_popup .input
{
  cursor: default;
  display: block;
  border:1px solid #8f8f90;
  background: #ffffff url(../img/layout/select-arrow_off.png) no-repeat right top;
  padding: 2px 20px 2px 5px;
  width: 460px;
  margin: 0;
}
.custom_select_popup .input a:hover
{
  text-decoration: none;
  background: #ffffff url(../img/layout/select-arrow_on.png) no-repeat right top;
}

.custom_select_popup .input .inner
{
  overflow: hidden;
}

.custom_select_popup .input a
{
  font-size: 13px;
  display: block;
  color: #000000;
  text-decoration: none;
  width: 1000px;
}

.custom_select_popup input
{
  display: none;
}


.custom_select_popup .select
{
  position: absolute;
  top: 21px;
  z-index: 22;
  border: 1px solid #8f8f90;
  background: #ffffff;
  width: 285px;
  display: none;
}

.custom_select_popup .select.scroll
{
  /*height: 320px;*/
  overflow: auto;
 border: 3px solid #d0d0d0;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
}

.custom_select_popup .option
{
  padding: 2px 5px 2px 18px;
  font-size: 13px;
  background: #ffffff url(../img/icons/checkbox.png) no-repeat 0 50%;
  color: #000000;
  overflow: hidden;
}
.custom_select_popup .option span
{
  width: 1000px;
  display: block;
}

.custom_select_popup .option.selected
{
/*  background: #ffffb0 url(../img/icons/bullet_delete.png) no-repeat 0 50%; */
  background: #ffffff url(../img/icons/checkbox_checked.png) no-repeat 0 50%;
  color: #000000;
}

.custom_select_popup .option.override
{
  background: #ffffff url(../img/icons/checkbox_checked_disabled.png) no-repeat 0 50%;
  color: #000000;
}


.custom_select_popup .option:hover
{
  /*background: #ffffb0;*/
  background-color: #3399ff;
  color: #ffffff;
}

.custom_select_popup_left, .custom_select_popup_right {
    text-align: left;
    width: 170px;
}

.custom_select_popup_left {
    float: left;
}

.custom_select_popup_right {
    float: right;
}

/*----------------------------*/
.amount
{
  text-align: right;
  width: 100px;
  display:inline-block;
}

